.highest-transaction-container {
  height: auto;
  background-color: rgba(147, 147, 147, 0.401);
}

@media only screen and (min-width: 1300px) {
  .highest-transaction-container {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1300px) {
  .highest-transaction-container {
    width: 100%;
    float: right;
  }
}

.highest-transaction {
  border: 1px dotted rgb(23, 23, 23);
}

.h-t-name {
  margin-top: 10px;
  background-color: rgb(65, 65, 65);
  color: aliceblue;
}

.h-t-amount {
  margin-top: 10px;
  font-size: 1.5rem;
}

.h-t-description {
  font-size: 1.5rem;
  margin: 15px;
  word-break: break-all
}