.highest-transaction-container {
  height: auto;
  background-color: rgba(147, 147, 147, 0.401);
  
}

@media only screen and (max-width: 1300px) {
  .highest-transaction-container {
    width: 100%;
    float: right;
  }
}

.highest-transaction {
  border: 1px dotted rgb(23, 23, 23);
}

.h-t-name {
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(65, 65, 65);
  color: aliceblue;
}

.h-t-amount {
  padding: 2px;
  text-align: left;
  margin-top: 5px;
  font-size: 1.5rem;
  margin-left: 20px;
}

.h-t-description {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.5rem;
  padding: 2px;
  word-break: break-all
}