.transactions-list-container {
  height: auto;
  background-color: rgb(192, 49, 49);
}

@media only screen and (min-width: 1300px) {
  .transactions-list-container {
    width: 59.7%;
    float: left;
    margin-bottom: 10px;
  }
}

.transactions-list {
  margin: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1300px) {
  .transactions-list {
    padding-bottom: 10px;
  }
}
