.transaction-item-container {
  margin-top: 5px;
  border: 1px solid rgb(23, 23, 23);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 90px;
}

.transaction-item-name {
  background-color: rgb(237, 237, 229);
}

.transaction-item-name-typo {
  left: 10px;
  text-align: left;
  position: relative;
}

.amount {
  float: left;
}

.amount-typo-euro {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.5rem;
}

.amount-typo-pln {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.5rem;
}

