.navbar-container {
  height: 50px;
  width: 100%;
  background-color: aquamarine;
}

.navbar-name {
  background-color: rgb(178, 209, 85);
  height: 50px;
  width: 600px;
  position: static;
  font: 1.5em sans-serif;
}

.p-navbar { 
  margin: 0;
  transform: translateY(30%);
}
